<!DOCTYPE html>
<html>
  <head>
    <title>Vapor App</title>
    <meta about="Vapor application" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, height=device-height" >

  </head>

  <body class='coveo-styleguide'>
  </body>
</html>